<div class="container mt-3">
  <h1>All our flats (4)</h1>
  <div class="row">
      <% @flats.each do |flat| %>
    <div class="col-3">
      <div class="card flex-column justify-content-center align-items-center border-top-0 shadow p-3 mb-5 bg-white rounded">
        <%= flat.name %>
        <%= flat.address %>
        <div class="price_number">
          <%= flat.price_per_night %>
          <%= flat.number_of_guests %>
        </div>
        <div class="description">
          <%= flat.description %>
        </div>
      </div>
    </div>
      <% end %>
</div>
</div>
